:root {
    display: flex;
    justify-content: center;
    align-items: center;

    /* color palette */
    --fuckpink: rgb(255, 0, 255);
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-image: url("images/background-star.gif");
    font-family: "Georgia", "Times New Roman", serif;
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    color: var(--fuckpink);
    width: 100%;
}

.header-image {
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.main-gallery {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
}

.nav {
    font-size: 1.5em;

    list-style-type: none;
    width: 100%;
}

.nav-ul {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-li {
    display: inline;
    justify-content: space-evenly;
    padding: .5em;
}

.nav-gallery {
    font-size: 2em;
    padding: 1em;
    display: inline;
}

.nav-gallery-ul {
    display: flex;
    justify-content: center;
}

.nav-gallery-li {
    display: inline;
    justify-content: space-evenly;
    padding: .5em;
}

.content {
    font-size: 1.5em;
    width: 50%;
    padding: 1vw;
    background: rgb(0,0,0);               /* fall back */
    background: rgba(0, 0, 0, 0.5);
    justify-content: left;
}

.content-gallery {
    font-size: 1.5em;
    width: 40em;
    padding: 1em;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    justify-content: left;
    align-content: stretch;
}

.content-gallery-image {
    width: 300px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.flyer {
    max-width: 50%;
}

